<html>
        <a href='/employee'>Add Employee</a>
    <center>
        <table border='1' cellspacing='3'>
        <caption><b>List of Employees</b></caption>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>Employee Picture</th>
            <th>Update</th>
        </tr>
        <% data.forEach(function(row,i){ %>
        <tr>
            <td><%=row.employeeid%></td>
            <td><%=row.employeename%></td>
            <td><%=row.gender%></td>
            <td><%=row.dob%></td>
            <td><%=row.designation%></td>
            <td><%=row.salary%></td>
            <td><img src='/images/<%=row.employeepicture%>' width='120' height='80'></td>
            <td><a href='/employee/displayById?eid=<%=row.employeeid %>'>Edit/Delete</a></td>
        </tr>

       <% })%>

       </table>
        
    </center>
</html>